<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../../layout/head')%>
</head>

<body>
    <section>
        <%- include('detail') %>
    </section>
    <section>
        <form action="/books/<%=book.id%>?_method=PUT" method="POST">
            <fieldset>
                <input type="text" name="title" value="<%=book.title%>" placeholder="Populated Title"><br />
                <input type="text" name="author" value="<%=book.author%>" placeholder="Populated Author"><br />
                <input type="text" name="isbn" value="<%=book.isbn%>" placeholder="Populated ISBN"><br />
                <input type="text" name="image_url" value="<%=book.image_url %>" placeholder="Populated Image URL"><br />
                <textarea name="description" placeholder="Populated Description" cols="30" rows="10"> <%=book.description %></textarea><br />
                <input type="text" name="bookshelf" value="<%=book.bookshelf %>" placeholder="Populated Bookshelf" required><br />
                <button>update details</button> <br />
                <form action="/books/<%=book.id%>?_method=DELETE" method="POST">
                    <button type="submit">delete book</button>
                </form>
            </fieldset>
        </form>
    </section>
</body>

</html>