<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../layout/head') %>
        <link rel="stylesheet" href="../styles/icons.css">

</head>

<body>

    <header>
        <h1>Best Books!</h1>

    </header>
    <main>
        <h2>Search Results</h2>

        <ul>
            <% books.forEach(element => { %>
                <li>
                    <div>
                        <p><img src=<%=element.img_url %>></p>
                        <p>
                            <%=element.Title %>
                        </p>
                        <p>
                            <%=element.Authors%>
                        </p>
                        <p>
                            <%=element.Description%>
                        </p>
                        <form action="/books" method="POST">
                            <input type="hidden" name="title" value="<%=element.Title%>">
                            <input type="hidden" name="author" value="<%=element.Author %>">
                            <input type="hidden" name="isbn" value="<%=element.isbn%>">
                            <input type="hidden" name="image_url" value="<%=element.img_url %>">
                            <input type="hidden" name="description" value="<%=element.Description %>">
                            <input type="hidden" name="bookshelf" placeholder="category">
                            <button type="submit">Select This Book</button>
                        </form>
                </li>
                <% }) %>
                    </div>
        </ul>


</body>

</html>