<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../layout/head') %>
</head>

<body>

    <div>
        <p>
            <%=books.length%> Total number of books</p>
    </div>

    <div>
        <ul>
            <% books.forEach(element => { %>

                <p>
                    <%=element.title %>
                </p>
                <p>
                    <img src=<%=element.image_url %>>
                </p>
                <p>
                    <%=element.author%>
                </p>
                <p><a href="/books/<%=element.id%>">View Details</a></p>
                <% }) %>
        </ul>
    </div>

</body>

</html>